*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   // width: 100vw;
}
body{
   // width: 100%;
   // max-width: 1840px;
   // height: 100%;
   overflow-x: hidden;
}

$bg-color: #1492E6;

@mixin dimension{
   width: 70px;
   height: 70px;
   float: left;
   margin-right:40px;
}
.input-type,.hamburger{
   display: none;
}

.logo{
   // display: block;
   margin-left: auto;
   margin-right: auto;
   border: 2px solid #707070;
   width: 164px;
   height: 48px;
   opacity: 1;
   margin-top: 33px;
}
.navbar-brand{
   font-size: 1.3em;
}
.content{
   display: flex;
   justify-content: space-evenly;
   // position: relative;
   // bottom: 350px;
   // background-color: #F8FAFC;
   // height: 100vh;
   // width: 100vw;
}
.content-div{
   margin-top: 30px;
}
h1{
   height: 108px;
   width: 548px;
   

}
.content-description{
   height: 120px;
   width: 520px;
   
}
.btn-price{
   height: 65px;
   width: 247px;
   color: #ffffff;
   background-color: $bg-color;
   border: 1px solid $bg-color;
   padding: 30px;
   margin-top: 25px;
   
}
.markgrop-logo{
   border-radius: 0 0 430px;
   height: 518px;
   width: 509px;
}
.img-clr{
   background-color: #fff;
   // position: absolute;
   bottom: 20px;
   // opacity: 1;
}
.main-content{
   background-color: #f8fAFC;
   text-align: center;
   margin-top: 60px;
   position: relative;
   // width: 100vw;
   // bottom: 250px;
}
.row{
   display: flex;
   justify-content: space-evenly;
}
.fa-solid{
   position: relative;
   top: 90px;
   left: 1245px;
   color: #FFFFFF;
}
.card{
   margin-top: 65px;
   height: 320px;
   width: 308px;
   border-radius: 18px;
   box-shadow: 0px 3px 6px #00000029;
   font-size: 18px;
}
// .content{
   // background-image: url('<svg class="waves" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320"><path fill="#f8fafc" fill-opacity="1" d="M0,64L80,106.7C160,149,320,235,480,234.7C640,235,800,149,960,101.3C1120,53,1280,43,1360,37.3L1440,32L1440,320L1360,320C1280,320,1120,320,960,320C800,320,640,320,480,320C320,320,160,320,80,320L0,320Z"></path></svg>');
// }

.waves{
   position: absolute;
   bottom:-150px;
   // 
}
// .waves{
   // position: relative;
   // bottom: 250px;
// }
.second-wave{
   position: relative;
   bottom: 110px;
   width: 100vw;
   // height: 1600px;
   transform: rotate(180deg);
}
.second-content{
   // text-align: center;
   margin-top: 110px;
}
h4{
   text-align: center;
   position: relative;
}
.second-container{
   position: relative;
   bottom: 400px;
}
.artwork20 , .artwork22 , .artwork23{
   width: 244px;
   height: 182px;
}
.row{
   position: relative;
   top: -10px;
}
.card-title{
   font-size: 18px;
   font-family: Nunito Sans, Bold;
   font-weight: bold;
}
.card-text{
   font-family: Nunito Sans, Regular;
}
h3{
   text-align: center;
}
.hand-logo, .accuracy-logo, .hiring-logo, .moneyback-logo{
   @include dimension;
}
.row-image{
   position: relative;
   top: 150px;
   // bottom: 250px;
}
.main-disc{
   position: relative;
   bottom: 80px;
}
.disc{
   position: relative;
   top: 25px;
   font-family: Nunito Sans, 24px/32px Bold;
   font-size: 24px;
}
.info1{
   width: 644px;
   height: 56px;
   position: relative;
   right: 100px;
   top: 40px;
   // position: absolute;
   // bottom: -225%;
}

@mixin btnheight{
   width: 227px;
   height: 50px;
}

.hand-logo-btn{
   @include btnheight;
   margin-top: 50px;
   position: relative;
   // width: 227px;
   // height: 50px;
   box-shadow: 0px 16px 48px #00000029;
   font-family: Nunito Sans, SemiBold;
}
.second-div{
   display: flex;
   justify-content: flex-end;
}
.info2{
   position: absolute;
   margin-top: 90px;
}
.acc-logo-pos, .pos-disc{
   position: relative;
   right: 100px;
   
}
.info2-btn{
   @include btnheight;
   position: absolute;
   margin-top: 170px;
   margin-right: 240px;
}
.third-div{
   position: relative;
   top: 160px;
}
#desc3{
   // margin-top: 30px;
   position: relative;
   top: 20px;
   font-size: 24px;
}
.info3{
   position: absolute;
   margin-top: 40px;
}
.btn-info-3{
   bottom: 20px;
}
.info3-btn {
   @include btnheight;
   position: relative;
   top: 80px;
   right: 110px;
   
}
.fourth-div{
   position: relative;
   top: 250px;
   display: flex;
   justify-content: flex-end;
}
.money-logo{
   position: relative;
   right: 100px;
}
#desc4{
   position: relative;
   right: 100px;
   font-size: 24px;
}
.info4{
   position: absolute;
   margin-right: 100px;
   margin-top: 90px;
}
.info4-btn{
   @include btnheight;
   position: absolute;
   margin-right: 240px;
   margin-top: 160px;
}
.last-content{
   margin-top: 550px;
}
.last-content-heading{
   font-size: 35px;
   font-family: Nunito Sans, Bold;
   font-weight: bold;
   text-align: center;
   opacity: 1;
}
.last-content-sub-div{
   margin-top: 40px;
   height: 363px;
   width: 1097px;
   border: 3px solid #f8fAFC;
   border-radius: 42px;
   background-color: #F8FAFC;
   box-shadow: 0px 16px 48px #00000029;
}
.star-logo{
   width: 64px;
   height: 63px;
   margin: 60px;
}
.table-info{
   font-size: 25px;
   font-family: normal normal 900 25px/34px Nunito Sans;
   position: relative;
   right: 40px;
}
.crousal-div{
   display: flex;
   justify-content: space-around;
   // border: 2px solid black;
}
.card-crousal-div{
   // border: 10px solid black;
   height: 263px;
   width: 258px;
   box-shadow: 0px 16px 48px #00000029;
   border-radius: 30px;
   position: relative;
   bottom: 10px;
   background-color: #FFFFFF;
}
.ceaser-logo{
   margin: 30px;
   width: 42px;
   height: 43px;
}
.title-card{
   font-size: 13px;
   position: relative;
   right: 20px;
}
.card-body{
   margin-top: 20px;
   // margin-left: 20px;
}
.star{
   position: relative;
   left: 65px;
   bottom: 30px;
   font-size: 15px;
}
.ceo{
   position: relative;
   right: 110px;
   bottom: 10px;
   font-size: 13px;
   color: #615C5C;
}
// .card-text{
   // font-size: 13px;
   // font-family: Nunito Sans, Regular;
   // position: relative;
   // top: 20px;
   // right: 80px;
   // width: 220px;
// }
.manager{
   font-size: 13px;
   position: relative;
   bottom: 35px;
   right: 20px;
}
.card-text-content{
font-size: 13px;
font-family: Nunito Sans, Regular;
position: relative;
bottom: 15px;
right: 80px;
width: 220px;
}
.card-text-content2{
   font-size: 13px;
   font-family: Nunito Sans, Regular;
   position: relative;
   top: 10px;
   right: 80px;
   width: 220px;
}
.customer-manager{
   font-size: 11px;
   position: relative;
   
   // left: 30px;
   bottom: 30px;
   right: 20px;
   // bottom: 10px;
}
.end-content{
   position: relative;
   top: 240px;
}
.end-title{
   font-size: 35px;
   font-family: Nunito Sans;
   font-weight: bold;
   text-align: center;
}
.end-content-div{
   display: flex;
   flex-direction: row;
   margin-top: 140px;
   justify-content: space-around;
   
}
.fire-logo{
   width: 185px;
   height: 90px;
   opacity: 1;
   // background: transparent url('img/11bb2910-logo-for-dark-transparent_104t01i000000000000028.png') 0% 0% no-repeat padding-box;
}
.electro-logo{
   width: 177px;
   height: 90px;
   opacity: 1;
}
.jot-logo{
   width: 92px;
   height: 92px;
   opacity: 1;
}
.fire-title{
   font-size: 18px;
   text-align: center;
   margin-top: 10px;
   font-family: Nunito Sans;
   font-weight: bold;
}
.footer-content{
   text-align: center;
   border: 1px solid #707070;
   background-color: #000000;
   height: 369px;
   margin-top: 400px;
   padding: 20px;
}
.footer-text{
   color: #FFFFFF;
   font-size: 18px;
   margin-top: 280px;
}
@media(max-width:1336px){
   h4{
      position: relative;
      top: 100px;
   }
}
@media(max-width:821px){
   html,body{
      height: 100%;
      width: 100%;
      margin: 0;
      padding: 0;
      overflow-x: hidden;
      // overflow-y: hidden;
   }
   .content-div{
      position: relative;
      left: 35px;
   }
   .card{
      position: relative;
      right: 45px;
      height: 40vh;
      width: 25vw;
   }
   
   // .footer-content, .end-content, .fifth-div, .middle-section, .second-content, .main-content{
      // position: relative;
      // left: 220px;
   // }
   // .content, .navbar, hr{
      // position: relative;
      // left: 220px;
   // }
   // .content-div{
      // position: relative;
      // left: 140px;
   // }
   // .card{
      // width: 250px;
   // }
   // .card-text{
      // font-size: 17px;
   // }
   // h4{
      // position: relative;
      // top: 140px;
   // }
   // .manager{
      // font-size: 12px;
   // }
   // .footer-content{
      // text-align: center;
      // width: 1000px;
   // }
}
// @media(max-width:376px){
   // .content{
      // position: relative;
      // left: 440px;
   // }
   // .main-content,.second-content{
      // position: relative;
      // left: 360px;
   // }
   // .middle-section{
      // position: relative;
      // left: 400px;
   // }
   // .last-content{
      // position: relative;
      // left: 220px;
   // }
   // .end-content-div,.end-title{
      // position: relative;
      // left: 220px;
   // }
   // .footer-content{
      // position: relative;
      // left: 130px;
   // }
   // .card{
      // position: relative;
      // left: 60px;
      // bottom: 30px;
      // height: 280px;
   // }
   // .card-title,.card-text{
      // position: relative;
      // bottom: 30px;
   // }
   // .middle-section{
      // display: flex;
      // flex-direction: column;
      // gap: 90px;
   // }
   // .info2-btn{
      // margin-top: 200px;
   // }
   // .info3-btn{
      // margin-top: 80px;
   // }
   // .info4-btn{
      // margin-top: 200px;
   // }
   // .lorem{
      // position: relative;
      // top: 180px;
      // font-size: 15px;
   // }
// }
@media(max-width:769px){
   html,body{
      height: 100%;
      width: 100%;
      margin: 0;
      padding: 0;
      overflow-x: hidden;
   }
   .navbar-menu{
      position: relative;
      right: 10px;
   }
   .horizontal{
      margin-left: -220PX;
   }
   h2{
      position: relative;
      right: 20px;
   }
   .card{
      position: relative;
      right: 20px;
      display: flex;
      width: 215px;
      height: 50vw;
   }
   .second-container{
      position: relative;
      right: 20px;
   }
   .lorem{
      margin-top: 20px;
   }
   .main-disc{
      position: relative;
      right: 20px;
   }
   .middle-section-container{
      position: relative;
      right: 20px;
   }
   .second-div,.third-div,.fourth-div{
      position: relative;
      right: 20px;
   }
   .last-content{
      position: relative;
      right: 20px;
   }
   // .third-div{
      // position: relative;
      // right: 220px;
   // }

   .crousal-div{
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-top: -60px;
   }
// 
   // .last-content{
      // position: relative;
      // bottom: 120px;
   // }
   // .card-body-crousal-div{
      // position: relative;
      // bottom: 90px;
      // left: 90px;
   // }
   // .manager{
      // position: relative;
      // bottom: 10px;
      // right: 130px;
   // }
   .end-content{
      margin-top: 360px;
   }
   .end-title{
      position: relative;
      right: 20px;
   }
   .end-content-div{
      display: flex;
      flex-direction: column;
      align-items: center;
      line-height: 80px;
      position: relative;
      right: 20px;
   }
   footer{
      margin-left: -220px;
   }
   .footer-text{
      position: relative;
      left: 60PX;
   }
}
@media(max-width:1058px){
   .content{
      position: relative;
      left: 40px;
   }
}
@media(max-width:976px){
   .content{
      position: relative;
      left: 80px;
   }
}

@media(max-width:895px){
   .content{
      position: relative;
      left: 110px;
   }
}
@media(max-width:565px){
   .content{
      position: relative;
      left: 210px;
   }
}
@media(max-width:355px){
   .content{
      position: relative;
      left: 290px;
   }
}
@media(max-width:913px){
   .card{
      position: relative;
      right: 45px;
      width: 25vw;
      height: 30vh;
      
   }
}
@media(max-width:1025px){
   html,body{
      height: 100%;
      width: 100%;
      margin: 0;
      padding: 0;
      overflow-x: hidden;
   }
}

@media(max-width:413px){
   html,body{
      margin: 0;
      padding: 0;
      height: 100%;
      width: 100%;
      overflow-x: hidden;
   }
   .content-div > h1{
      font-size: 12px;
      margin-left: 200px;
   }
   .content-description{
      font-size: 12px;
      width: 90vw;
      position: relative;
      left: 190px;
      bottom: 80px;
      z-index: 1;
   }
   .img-clr{
      position: relative;
      right: 440px;
      opacity: 0.3;
   }
   .btn-price-one{
      position: relative;
      left: 210px;
      z-index: 1;
      width: 160px;
      height: 45px;
      bottom: 50px;
   }
   .card{
      position: relative;
      left: 20px;
      width: 80vw;
   }
   .lorem{
      margin-top: 110px;
   }
   .lorem-div{
      position: relative;
      left: 30px;
   }
   .middle-section-container{
      font-size: 12px;
      position: relative;
      left: 10px;
   }
   .info1-btn{
      width: 160px;
      height: 45px;
      position: relative;
      left: 200px;
      bottom: 28px;
   }
   .accuracy-logo, .pos-disc{
      // font-size: 12px;
      position: relative;
      right: 12px;
   }
   .info2{
      font-size: 12px;
   }
   .info2-btn{
      width: 160px;
      height: 45px;
      margin-right: auto;
   }
   .hiring-logo{
      position: relative;
      left: 13px;
   }
   .info3{
      font-size: 12px;
      margin-left: 20px;
   }
   .info3-btn{
      width: 160px;
      height: 45px;
      margin-left: 340px;
   }
   .money-logo{
      position: relative;
      left: 5px;
   }
   #desc4{
      position: relative;
      left: 7px;
      top: 20px;
   }
   .info4{
      font-size: 12px;
   }
   .info4-btn{
      height: 45px;
      width: 160px;
      margin-right: 5px;
   }
   .card-div-crousal-description{
      position: relative;
      left: 80px;
      bottom: 100px;
   }
   .manager{
      position: relative;
      right: 110px;
      bottom: 10px;
   }
   .card-text-content{
      margin-top: 25px;
   }
}

@media(max-width:376px){

   .content-description {
      position: relative;
      left: 220px;
   }
   .card{
      height: 65vw;
   }
   .main-disc{
      font-size: 18px;
      margin-left: 30px;
      position: relative;
      bottom: 80px;
   }
   .middle-section{
      position: relative;
      bottom: 130px;
   }
   .info1{
      font-size: 11px;
      position: relative;
      bottom: 40px;
   }
   .info1-btn{
      height: 40px;
      width: 140px;
      font-size: 10px;
   }
   .second-div{
      position: relative;
      left: 10px;
   }
   .info2-btn, .info3-btn{
      height: 40px;
      width: 140px;
      margin-right: 10px;
   }
   .info4{
      margin-right:  10px;
   }
   .footer-text{
      font-size: 14px;
      margin-left: 80px;
   }
}
@media(max-width:1025px){
   .second-div{
      position: relative;
   }
}